

body {
  font-family: Arial, sans-serif;
  background-color: #fefefe; /* Light gray background */
  color: #333; /* Dark gray text */
}

.App {
  text-align: center;
}

.App-header {
  background-color: #ff6ac1; /* Pink header background */
  padding: 20px;
  color: white; /* White text */
  border-bottom: 2px solid #f49ac2; /* Lighter pink border */
}

.App main {
  margin: 20px;
}

footer {
  padding: 10px;
  background-color: #ff6ac1; /* Pink footer background */
  color: white; /* White text */
  position: fixed;
  bottom: 0;
  width: 100%;
}
